<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Disclaimer - La Voie de l'Éclipse</title>
    
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>CHOISIS TA DESTINÉE</h1>
    <p>Tu as accepté le pacte. Il est temps de te connecter ou de t’enregistrer.<br>
    Si tu n’as pas de clé, tu n'es pas encore digne.</p>
    <div class="btn-group">
        <a class="warning-btn" href="/login">Connexion</a>
        <a class="warning-btn" href="/register">S'enregistrer</a>
    </div>
    <div class="footer">© La Voie de l'Éclipse – Ceci est un projet fictif</div>
</body>
</html>
