
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta charset="UTF-8">
    <title>Connexion</title>
    



<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Connexion à la Voie</h1>
    <form method="post">
        <input type="text" name="pseudo" placeholder="Nom d'utilisateur" required>
        <input type="password" name="password" placeholder="Mot de passe" required>
        <input type="submit" value="Se connecter">
    </form>
    <footer>La Voie de l'Éclipse™ - Ce site n'est pas réel - 2025 ©</footer>